
body {
	background-color:#FEF8E0;
	}
	
#banner {
	margin: 0 auto;
	width: 500px;
	height: 218px;
	background-image: url('images/layout images/banner resized.jpg');
}
#header {
	text-align: center; 
	font-family: "French Script MT"; 
	font-size: 48px; 
	color:#D90000;> 
	}

#table {
	border-width: 2px;
	border-color: #000000;
	text-align: center;
	}

